<div id="notesHolder">
    <mat-card>
        <h2>Notes</h2>
        <div class="NotesContainer">
            <div class="Note">       
                <form class="example-form">
                  
                    <mat-form-field appearance="fill">
                        <mat-label>Write your notes </mat-label>
                        <input matInput 
                        ngModel="text"
                        >
                      </mat-form-field>

                  
                    <button (click)="addNotes()">ADD</button>

                  </form>
                  <div *ngFor="let notesItem of notes | slice: 0:5">

                  <app-note
                  [noteInput]="notesItem"
                  (delete)="deleteNotes($event)">
                  </app-note>

              
            </div>
        </div>
    <!-- </mat-card> -->
</div>
