<section id="about-me">
    <h2 class="text">Hello!</h2>
    <p class="text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis
      dolorum ab incidunt ipsum, officiis delectus repudiandae quaerat,
      voluptatibus ipsam asperiores eveniet? Dolores tenetur rem veritatis
      perferendis reiciendis corporis laboriosam dolore! Provident,
      quaerat ab nesciunt amet saepe dicta, modi necessitatibus
      repudiandae ex, debitis iste! Hic ratione animi quis esse saepe ad
      accusamus quae, laudantium placeat debitis harum maiores pariatur
      nam necessitatibus. Laudantium dolor praesentium, voluptatum facilis
      ea reiciendis porro maiores velit neque rem. Inventore, praesentium?
      Architecto labore ut totam repellat nam debitis ratione illum, quam
      aspernatur fuga consectetur amet nulla enim?
    </p>
    <img src="./assets/sitting-person.png" alt="My image" />
  </section>