


    <div id="holder">

        <mat-card class="card">
            <h2>WELCOME ON WeDiet.Co Database</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis corrupti provident officiis quam, pariatur molestias commodi doloribus, autem a, iusto minus quia ut voluptatem ratione ea dicta aliquam magni optio?
    Culpa ullam dolorum distinctio inventore minus fuga temporibus iure voluptatibus reiciendis unde pariatur dolores dicta numquam impedit voluptates architecto, provident cum. Adipisci quos minima rem rerum recusandae modi ducimus sint?
    Quos aliquid ipsam molestias sapiente optio soluta fugit omnis. Molestias odio unde fugit consectetur itaque explicabo. Perferendis magni ullam odit optio maiores ea placeat veniam officia, labore, delectus, soluta esse?
    </p>
    
</mat-card>
    </div>
