<table class="example-full-width" cellspacing="0">
    <tr>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput>
          </mat-form-field>
    </tr>
    
      <tr>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Quantity</mat-label>
            <input matInput type="text">
          </mat-form-field>
      </tr>

      <tr>
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Laverage</mat-label>
          <mat-select>
            <mat-option value="1">1:1</mat-option>
            <mat-option value="30">1:30</mat-option>
            <mat-option value="100">1:100</mat-option>
          </mat-select>
        </mat-form-field>
    </tr>

      <tr>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Take profit</mat-label>
            <input matInput type="text">
          </mat-form-field>
      </tr>

       <tr>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Stop loss</mat-label>
            <input matInput type="text">
          </mat-form-field>
      </tr>

      <tr>
          <button mat-raised-button color="accent">
            <span>Calculate</span>
          </button>
      </tr>

      <!-- <td>
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Risk</mat-label>
          <input matInput type="text" maxlength="5">
        </mat-form-field>
    </td>

     <td>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Profit</mat-label>
            <input matInput type="text" maxlength="5">
          </mat-form-field>
      </td> -->
</table>


 
