<div id="aboutHolder"> 
<mat-card>

    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus non hic, iusto ducimus odio necessitatibus, distinctio atque nostrum quos aliquam ex laboriosam quas. Nihil minus dolorum nam temporibus? Nobis, suscipit.
    Cumque suscipit tempore voluptatem praesentium eius ut sapiente culpa et modi assumenda doloremque, nisi excepturi nihil, animi quis tempora. Asperiores, numquam. Fuga omnis asperiores animi autem id vero perspiciatis ipsa.
 </p>
</mat-card>

</div>