#previous-projects-page {
    margin: auto;
    display: block;
    padding: 10px 30px;
    text-align: center;
    max-width: fit-content;
  }
  #previous-project-display {
    display: inline-block;
    margin-left: 20vh;
  }
  .page-content {
    color: white;
    display: none;
    padding: 20px 20px;
    height: 100%;
  }
  .show {
    display: block;
    margin-top: 50%;
  }
  .hide {
    display: none;
  }