<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>crisis_alert</mat-icon>
    <mat-card-title>Color</mat-card-title>
    <mat-card-subtitle> List of colors of the year </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let color of colors">
        <mat-icon mat-list-icon
        [ngStyle]="{color: color.color, backgroundColor: '#eee'}">palette</mat-icon>
        <div mat-line>{{ color.name }}</div>
        <div mat-line>{{ color.color }} {{ color.year }}</div>

        <button mat-icon-button 
        matTooltip="Copy color HEX to clipboard"
        [cdkCopyToClipboard]="color.color"
        (cdkCopyToClipboardCopied)="onCopied()"
        >

            <mat-icon>content_copy</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
