:host {
  display: block;
}

:host {
  display: block;
}

// Front site

.front__site {
  height: 100vh;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

button {
  margin-left: 1rem;
}

.main__title {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  width: 80%;
}

.main__title h1 {
  color: rgb(244, 240, 240);
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  word-spacing: 0.5rem;
  line-height: 5rem;
}

.main__title button {
  font-size: 2rem;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 2rem;
  margin-left: 0;
}

// Footer
.footer__copyright {
  font-size: 1.5rem;
  text-align: center;
}

.footer__copyright a {
  font-size: 2rem;
  text-decoration: none;
}

.links__icons {
  margin-top: 3rem;
  text-align: center;
 
}

.fa-twitter {
  color: rgb(61, 178, 255);
}

.fa-github {
  color: rgb(41, 41, 41);
}

.fa-linkedin {
  color: rgb(0, 69, 133);
  
}
