:host {
  display: block;
}

#Text-to-search {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #edffff;
    font-size: 20px;
    font-weight: bold;
    color: #003B9D;
    resize: none;
    font-family: LibreFranklin;
    padding: 10px;
}

textarea:focus {
  outline: none !important;
  border-color: #003B9D !important;
}

.logo {
  display:block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}
#Search_div {
  text-align: center;
  margin-left: 90px;
}

#Search {
  background-color: #000051;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 50px;
  font-family: LibreFranklin;
}

#div_to_search {
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 60px 0px 60px;
    min-width: 200px;
    max-width: 1000px;
}